// app global css in SCSS form
textarea {
  resize: none;
}

// .description-cell {
//   text-overflow: ellipsis !important;
//   white-space: nowrap !important;
//   overflow: hidden !important;
//   max-width: 400px
// }

button.without-icon i {
  display: none
}

.dashboard-chart {
  height: 300px;
}
